<div class="flex justify-around gap-80">
    <div class="w-80 h-80 flex items-center flex-col gap-2">
        <img class="rounded-full" src="https://avatars.githubusercontent.com/u/75326612?v=4" alt="logo">
        <h1 class="text-black text-2xl">Fullstack engineer</h1>
    </div>
    <div class="w-96 mr-40">
        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quis voluptatibus ratione dignissimos id eaque magni ab harum sunt a eligendi omnis sed consectetur nemo hic quasi qui eius, odit perspiciatis! Lorem ipsum dolor sit amet consectetur adipisicing elit. Dicta maiores voluptatem ea animi qui sapiente in facere, ducimus ratione perspiciatis officiis omnis similique optio ad, nemo at inventore sed veniam </p>
    </div>
    

</div>


