---
import presentation from "@/utils/presentation";
import Separator from "./Separator.astro";
import Link from "@/shared/Link.astro";

---
<div class="md:flex md:justify-around md:gap-80">
    <div class="md:w-80 md:h-80 flex items-center flex-col gap-2">
        <img class="rounded-full" src="https://avatars.githubusercontent.com/u/75326612?v=4" alt="logo">
        <h1 class="text-gray-200 text-2xl md:mb-1">Fullstack developer</h1>
    </div>
    <div class="md:w-3/5 md:mr-40">
        <p class="text-gray-400 text-2xl">Hi there, I'm <span class="text-purple-500 hover:text-purple-600 transition-all">Thiago Mota</span>, Fullstack developer </p>
        <p class="text-gray-300 text-xl mt-1"> 

          I'm really into technology and currently studying web development to kickstart my career. I love problem-solving and enjoy taking on new challenges. If you have any cool projects or freelance opportunities, don't hesitate to reach out! 
        </p>
        <ul role="list" class="flex flex-row gap-2 mt-4">
            {
              presentation.socials.map((social, index) => (
                <>
                  <li>
                    <Link href={social.link} label={social.label} />
                  </li>
          
                  {presentation.socials.length - 1 !== index && <li>/</li>}
                </>
              ))
            }
          </ul>
    </div>
</div>
